<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedAssetSets</key>
	<dict>
	</dict>
	<key>AssetSets</key>
	<dict>
		<key>LoopBrowser</key>
		<dict>
			<key>GenreMatrix</key>
			<dict>
				<key>Keywords</key>
				<array>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Rock/Blues</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Electronic/Dance</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Experimental</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Orchestral</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Country/Folk</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:House</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Hip Hop</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Cinematic/New Age</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Jazz</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Urban</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Other Genre</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:World/Ethnic</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Funk</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Deep House</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Vintage Breaks</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Chinese Traditional</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Indie</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Electro House</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Hip Hop/RnB</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Dubstep</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Chillwave</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Tech House</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Modern RnB</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Reggaeton Pop</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Future Bass</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Bass House</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Electronic Pop</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>4</integer>
						<key>name</key>
						<string>NSString:Techno</string>
					</dict>
				</array>
			</dict>
			<key>InstrumentMatrix</key>
			<dict>
				<key>Keywords</key>
				<array>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Drums</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Piano</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Guitars</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Strings</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Drum Kit</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Synthesizer</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Acoustic Guitar</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Woodwind</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Electronic Beats</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Electric Piano</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Electric Guitar</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Brass</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Percussion</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Organ</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Slide Guitar</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Vocals</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Tambourine</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Clavinet</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Bass</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Impacts &amp; Crashes</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Shaker</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Mallets</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Synthetic Bass</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Effects</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Conga</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Vibraphone</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Electric Bass</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Mixed</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Bongo</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Bell</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Acoustic Bass</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Violin</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Kick</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Xylophone</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Banjo</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Harp</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Snare</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Steel Drum</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Texture/Atmosphere</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Saxophone</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Hi-hat</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Harpsichord</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Choir</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Flute</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Cymbal</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Celesta</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Female</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Horn/Wind</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Cowbell</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Marimba</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Male</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>1</integer>
						<key>name</key>
						<string>NSString:Harmonica</string>
					</dict>
				</array>
			</dict>
			<key>MoodsMatrix</key>
			<dict>
				<key>Keywords</key>
				<array>
					<dict>
						<key>buttonType</key>
						<integer>2</integer>
						<key>name</key>
						<string>NSString:Single</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>3</integer>
						<key>name</key>
						<string>NSString:Ensemble</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>2</integer>
						<key>name</key>
						<string>NSString:Dry</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>3</integer>
						<key>name</key>
						<string>NSString:Processed</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>2</integer>
						<key>name</key>
						<string>NSString:Clean</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>3</integer>
						<key>name</key>
						<string>NSString:Distorted</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>2</integer>
						<key>name</key>
						<string>NSString:Grooving</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>3</integer>
						<key>name</key>
						<string>NSString:Arrhythmic</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>2</integer>
						<key>name</key>
						<string>NSString:Acoustic</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>3</integer>
						<key>name</key>
						<string>NSString:Electric</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>2</integer>
						<key>name</key>
						<string>NSString:Melodic</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>3</integer>
						<key>name</key>
						<string>NSString:Dissonant</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>2</integer>
						<key>name</key>
						<string>NSString:Relaxed</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>3</integer>
						<key>name</key>
						<string>NSString:Intense</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>2</integer>
						<key>name</key>
						<string>NSString:Part</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>3</integer>
						<key>name</key>
						<string>NSString:Fill</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>2</integer>
						<key>name</key>
						<string>NSString:Cheerful</string>
					</dict>
					<dict>
						<key>buttonType</key>
						<integer>3</integer>
						<key>name</key>
						<string>NSString:Dark</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
